body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  
  @media(min-width: 576px) {
    max-width: 540px;
  }

  @media(min-width: 768px) {
    max-width: 720px;
  }

  @media(min-width: 992px) {
    max-width: 960px;
  }

  @media(min-width: 1200px) {
    max-width: 1140px;
  }

  @media(min-width: 1400px) {
    max-width: 1320px;
  }

  @media(min-width: 1500px) {
    max-width: 1440px;
  }
}